.h5
.pt
.pkl
.ckpt
.mp4
.csv
yolov3.weights
dmlp_trained.h5
yolov3.cfg
.jpg
.pki
pointrend_resnet50.pkl
mask_rcnn_coco.h5
.tar
annotation.tar
images.tar
lists.tar
stanford_dogs/
stanford_dogs/*.jpg
stanford_dogs/**/*.jpg